<% content_for :page_actions do %>
  <% if can?(:fire, @order) %>
    <li><%= event_links %></li>
  <% end %>
  <% if can?(:resend, @order) %>
    <li><%= button_link_to Spree.t(:resend), resend_admin_order_url(@order), :method => :post, :icon => 'email' %></li>
  <% end %>
  <% if can?(:admin, Spree::Order) %>
    <li><%= button_link_to Spree.t(:back_to_orders_list), admin_orders_path, :icon => 'arrow-left' %></li>
  <% end %>
<% end %>

<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Order Details' } %>

<div data-hook="admin_order_edit_header">
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
</div>

<% if @order.payments.exists? && @order.considered_risky? %>
  <%= render 'spree/admin/orders/risk_analysis', latest_payment: @order.payments.order("created_at DESC").first %>
<% end %>

<%= render :partial => 'add_product' if can?(:update, @order) %>

<% if @order.line_items.empty? %>
  <div class="no-objects-found">
    <%= Spree.t(:your_order_is_empty_add_product)%>
  </div>
<% end %>

<div data-hook="admin_order_edit_form">
  <div id="order-form-wrapper">
    <%= render :partial => 'form', :locals => { :order => @order } %>
  </div>
</div>

<div data-hook="admin_order_review_commnets">
  <% if @order.review_comments.any? %>
    <fieldset class="no-border-bottom">
      <legend align="center"><%= Spree.t(:review_comments) %></legend>
      <table class="review-comments">
        <colgroup>
          <col style="width:20%">
          <col style="width:15%">
          <col style="width:15%">
          <col style="width:50%">
        </colgroup>
        <thead>
          <th><%= Spree.t(:user) %></th>
          <th><%= Spree.t(:from_state) %></th>
          <th><%= Spree.t(:to_state) %></th>
          <th><%= Spree.t(:comment) %></th>
        </thead>
        <tbody>
          <% @order.review_comments.each do |comment| %>
            <tr>
              <td><%= comment.user.email %></td>
              <td><%= comment.previous_state %></td>
              <td><%= comment.new_state %></td>
              <td><%= comment.comment %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </fieldset>
  <% end %>
</div>

<% content_for :head do %>
  <%= javascript_tag 'var expand_variants = true;' %>
<% end %>

<% content_for :footer do %>
  <%= render "review_modals", order: @order %>
<% end %>
