<nav class="columns sixteen">
  <ul id="main-nav-bar" class="inline" data-hook>
    <li id="home-link" data-hook><%= link_to t(:home), root_path %></li>
    <li id="link-to-cart" data-hook><%= link_to_cart %></li>
    <% if Spree::Config[:show_currency_selector] && Spree::Money.supported_currencies.size > 1 %>
      <li id="currency-select" style="float: right; margin-right: 10px;" data-hook>
        <%= form_tag(set_currency_path(:format => :html)) do %>
          <label for="currency"><%= t(:currency) %>:</label> <%= select_tag(:currency, options_for_select(Spree::Money.supported_currencies, selected_currency), :data => { :href => set_currency_path(:format => :json) }) %>
          <noscript>
            <%= submit_tag %>
          </noscript>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
